#tab-bar{
  display: flex;
  background-color: #f6f6f6;

  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;

  box-shadow: 0 -1px 1px rgba(100,100,100,.2);
}
/*.tab-bar-item {
  flex: 1;
  text-align: center;
  height: 49px;
}*/
